#game {
	align-items: center;
    display: flex;
	flex-wrap: wrap;
    height: calc(100% - 20vw);
	justify-content: center;
	padding: 16px 0;
	@include mQuery(502px) { height: 100%; }
	.wrapper {
		text-align: center;
		width: 100%;
		z-index: 1;
		@include mQuery(716px) { width: 600px; }
		#opponent {
			border-radius: 12px;
			color: #FFFFFF;
			display: inline-block;
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 15px;
			padding: 16px 35px;
			&.hidden { display: none; }
			&.green { background-color: $light-green; }
			&.red { background-color: $light-red; }
		}
		#board {
			display: flex;
			flex-wrap: wrap;
			height: 100vw;
			width: 100%;
			z-index: 1;
			@include mQuery(502px) {
				height: calc(100vw - 114px);
				width: 100%;
			}
			@include mQuery(716px) {
				height: 600px;
				width: 600px;
			}
			.square {
				background-color: #E6F8FA;
				border-radius: 12px;
				cursor: pointer;
				height: calc((100% - 24px) / 3);
				margin: 4px;
				transition: all 0.2s ease-in-out;
				width: calc((100% - 24px) / 3);
				&:hover { background-color: darken(#E6F8FA, 8%); }
				@include mQuery(716px) {
					height: 188px;
					margin: 6px;
					width: 188px;
				}
			}
		}
	}
}
