<!DOCTYPE html>
<html lang="es">
<head>
	<% include partials/head %>
</head>
<body>
	<section id="not-found">
		<div>
			<i class="fas fa-exclamation-circle"></i>
			<h1>Ooops..</h1>
			<p>Página no encontrada</p>

			<button class="btn btn-primary" onclick="window.location.href = '/'">Volver al inicio</button>
		</div>
	</section>
</body>
</html>
