// Fonts
$fnt-title: 'Poppins', sans-serif;
$fnt-text:  'Open Sans', sans-serif;

// Colors
$primary-color: #55D48B;
$dark-color: 	#28353F;
$light-green: 	#BDE2AE;
$light-red: 	#E2AEAE;

// Transitions
$trs: all 0.4s ease-in-out;

// Borders radius
$br4:  4px;
$br12: 12px;
