.alert {
	animation: fadeIn 1s;
	border: 1px solid transparent;
	border-radius: $br4;
	padding: 15px 20px;
	margin-top: 10px;
	// position: absolute;
	// right: 16px;
	// top: 16px;
	width: 100%;
	i { margin-right: 6px; }
}

.alert-danger {
	background-color: #FFDCE0;
	border-color: rgba(27, 31, 35, 0.15);
	color: #86181D;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}
