<!-- Meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="Víctor Lázaro Palmero">
<meta name="description" content="A minimalist online game">
<meta name="rating" content="general">
<meta name="robots" content="all">

<!-- Title -->
<title>Tic-Tac-Toe</title>

<!-- Font-Awesome v5.0.9 -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/fontawesome-all.min.css">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/style.min.css">
